h1{
  font-family: 'Yesteryear', sans-serif;
}
li{
  position: relative;
  a{
    color: $primary;
    padding: 10px 0 10px 26px;
    font-weight: 900;
    font-size: 20px;
    &.active{
      padding-left: 18px;
      border-left: 8px solid $primary;
    }
  }
}
.footer{
  position: absolute;
  bottom: 0;
  p{
    margin-bottom: 10px;
    font-weight: 500;
    letter-spacing: 1px;
  }
}